body  {
  background-image: url("../images/image.webp");

}

h1 {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  display: inline;
  background-color: #f0f0f0;
}

#title {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

.social {
  width: 35%;
}
